* {
  font: bold 18px "JetBrainsMono NF";
  color: #c0caf5;
}

window#waybar {
  background: transparent; /* main window transparent background */
}

tooltip {
  background: #15161e;
  border: 2px solid #c0caf5;
  border-radius: 5px;
}

/* *****************************
 * modules (pills) section start
 * *****************************/
.modules-left,
.modules-center,
.modules-right {
  text-shadow: 1px 1px 2px black; /* text shadow, offset-x | offset-y | blur-radius | color */
  background-color: rgba(21,22,30,0.75); /* background color */
  margin-top: 5px; /* empty spaces around */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4); /* pill background shadows */
  border-radius: 5px; /* rounded corners */
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#custom-launcher,
#window,
#tray,
#pulseaudio,
#battery,
#clock,
#network,
#cpu,
#memory,
#temperature,
#custom-cava,
#temperature {
  margin: 0 10px ;
}

#network,
#cpu {
  color: #bb9af7 
}

#memory {
  color: #9ece6a 
}

#cava,
#temperature {
  color: #7dcfff
}

#custom-media,
#pulseaudio {
  color: #e0af68
}

#clock {
  color: #7aa2f7
}

#custom-cava,
#custom-weather {
  color: #f7768e
}

#custom-launcher {
  margin-left: 10px;
}

#clock {
  margin-right: 10px;
}

#workspaces {
  padding: 0px; /* remove padding around workspace module */
}

#workspaces button {
  padding: 0px 4px; /* fit with pill padding, 0px for not haveing duped vertical padding, 4px to make a square (4px value from module padding: ...#clock {padding >>4px<< 10px}) */
  border: 2px solid transparent; /* required by active workspace top color, or the bar will jitter */
  transition-property: background-color, border-top-color; /* smooth transition for workspace module */
  transition-duration: .1s;
}

#workspaces button.active {
  /* active workspace */
  background: #1e1e2e; /* background color */
}

#workspaces button:hover {
  background: #11111b; /* hovered workspace color */
}

/* ***************************
 * modules (pills) section end
 * ***************************/
